__pycache__/
*.py[cod]
.env
.venv/
**/.venv/
**/wandb/
**/checkpoints/
*.log
**/*.pkl
**/*.npz
.ipynb_checkpoints/
.vscode/*
!.vscode/tasks.json
!.vscode/git-on-close.sh

DATA/
node_modules/
**/node_modules/
dist/
build/
coverage/
.cache/
**/.cache/
.idea/
.DS_Store

**/*.nii.gz
**/*.pth
DASHBOARD/app/static/dist/
DASHBOARD/frontend/dist/
